@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

html{
    background-color: black;
    color: aliceblue;
    font-family: 'Noto Sans TC', sans-serif;
}

#btn_play {
    background-color: black;
    border: 1px solid rgb(158, 87, 224);
    border-radius: 3px;
    color: rgb(158, 87, 224);
    padding: 5px;
}

#evas {
    width: 500px;
}

#eva00 {
    color: #ffde59;
}

#eva01 {
    color: #554864;
}

#eva02 {
    color: #f46666;
}

#eva-sachiel-video {
    width: 600px;
}

#logo {
    width: 200px;
}

#title {
    font-weight: 900;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 2.00px; 
}

#title-eva {
    font-weight: 100;
    color: rgb(255, 187, 0);
}

#title-contra {
    font-weight: 900;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: rgb(255, 115, 0);
    -webkit-text-stroke-width: 2.00px; 
}

.contato {
    margin-bottom: 500px;
}

@media (max-width:500px) {
    #evas {
        width: 70%;
    }

    #eva-sachiel-video {
        width: 70%;
    }

    #logo {
        width: 50%;
    }
}

@media (min-width:1500px) {
    #evas {
        width: 600px;
    }

    #eva-sachiel-video {
        width: 600px;
    }

    #logo {
        width: 200px;
    }
}